.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 420px;
  height: 420px;
  background-color: blue;
}

#first-circle {
  border: 4px solid yellow;
}

.yellow-border {
  border: 4px solid yellow;
}
